# dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/

# production
build/

# local environment files
.env
.env.*
!.env.example

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor and OS files
.DS_Store
.idea/
.vscode/

# local certificates
*.pem
